.banner{
	background-image: url(images/hellobody.png);
background-size: cover;
margin: 0 auto; 
height: 400px;
}


.banner h1 {
font-size: 60px;
color: white; 
margin: 30px;
text-align: center;

}

.banner h2{
	font-size: 30px;
	font-weight: lighter;
	color: white;
	opacity: 0.8;
	margin-bottom: 40px;
	text-align: center;
}
